.Rhistory
.RData
.Rproj.user/
.Ruserdata

.DS_Store
Thumbs.db

renv/library/
renv/staging/

data/*
!data/README.md    # Exception: keep doc that explains how to access data

results/*
!results/figures/
!results/tables/

*.csv
*.xlsx
*.sav
*.rds





